venv/
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.env
db_unified.dbml
# Database files
**.sqlite3
**.db
*.sqlite3-wal
*.sqlite3-shm

# Media and attachments
src/media/sif_files/*
!src/media/sif_files/.gitkeep
src/media/leave_documents/Screenshot_2026-03-12_at_11.12.07AM.png
